<!DOCTYPE html>
<html>
    <head>
        <title>Foob</title>
        <link rel="stylesheet" href="/css/application.css">
        <a href = "/planner" ><img src="/images/foob.jpg" alt = "FOO0B logo" width = "100" height = "100"></a>
        <p>Click the logo to generate planner
        <p>
        <h1>Hello Foobers!</h1>
        <p>
        <h3>This website is for you to start creating your own weekly meal plans!</h3>
    </head>
    <body>

    </body>
</html>