<!DOCTYPE html>
<html>
    <head>
        <title>Foob</title>
        <link rel="stylesheet" href="/css/application.css">
        <a href = "/" ><img src="/images/foob.jpg" alt = "FOO0B logo" width = "100" height = "100"></a>
        <p>
        Planner
        <p>
        Click logo to return back home


    </head>
    <body>
        <table style="width:100%">
        <tr height = "10px">
            <th></th>
            <th>Breakfast</th>
            <th>AM Snack</th>
            <th>Lunch</th>
            <th>PM Snack</th>
            <th>Dinner</th>
        </tr>
        <tr height = "50px">
            <td>Monday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Tuesday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Wednesday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Thursday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Friday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Saturday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr height = "50px">
            <td>Sunday</td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </table>

    </body>
</html>